

.grid
{
max-width: 800px;
  display:grid;
  /*fr meand faction fraction of the image makes it responsive */
  /* 1 fr will make only one, 1 fr 1 fr will make two through out*/
  grid-template-columns: repeat(auto-fill,200px);
  grid-template-rows: repeat(2,2fr); 
  /* grid-column-gap: 20px; */
  /* grid-row-gap: 20px; */
  grid-gap:15px;
}
